##
## Velocity Template for DisplayUsernamePasswordPage view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## ldapResponseContext - context with LDAP state (if using native LDAP)
## rpUIContext - the context with SP UI information from the metadata
## extendedAuthenticationFlows - collection of "extended" AuthenticationFlowDescriptor objects
## passwordPrincipals - contents of the shibboleth.authn.Password.PrincipalOverride bean
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($username = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
#set ($passwordEnabled = false)
#if (!$passwordPrincipals or $passwordPrincipals.isEmpty() or $authenticationContext.isAcceptable($passwordPrincipals))
  #set ($passwordEnabled = true)
#end
##
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>#springMessageText("idp.title", "Web Login Service")</title>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/font.css" />
        <style>
        * {margin:0;padding:0; box-sizing:border-box;font-family:'Noto Sans KR', sans-serif; font-weight:400; }
        a {color:inherit; text-decoration:none;}
        img {display:block; width:100%; }
        input {background:transparent; border:0; outline:none;}
        button {background:transparent; border:0; outline:none;}
        body {width:100%;}

        .wrap {width:100%; height:100vh;display:flex; justify-content:center; align-items:center;}
        .login {width:100%; display:flex; justify-content:center; align-items:center;}
        .illu {width:737px;margin-top:-100px;}
        .login_area {width:300px;display:flex; flex-wrap:wrap; flex-direction:column; justify-content:center; align-items:center;}
        .login_area .sub_logo {width:297px;}
        .login_area h3 {margin-top:-18px;color:#2A3140; font-size:24px; font-weight:700;}
        .login_area .logo {width:205px;margin:12px;}
	
        .login_area .user_type {display: flex; justify-content: space-between; }
	.login_area .user_type .form-check-label > radio { margin: 10px 0 0 0}

        .login_area > form > div {width:84%;}
        .login_area > form > div > input {width:100%;padding:12px;border-radius:5px; border:1px solid #D1DBE3; margin-bottom:10px; color:#4f6c81; font-size:12px; }
        .login_area > form > div > input::placeholder {color:#9DAFBD; font-size:12px; font-weight:300;}
        .login_area > form > div > label {display:block; color:#9DAFBD; font-size:12px; font-weight:300;margin-bottom:6px; cursor:pointer;}
        .login_area > form > div > label input {margin-right:10px; vertical-align:top; margin-top:3px;}
        .login_area > form > button {width:84%; margin-top:10px;padding:14px 0; border-radius:5px; background:#90C521; box-shadow:0 10px 20px rgba(0,0,0,0.2); color:#fff; font-size:16px; font-weight:500;}

        @media all and (max-width:768px) {
            .wrap {height:100%;display:block;}
            .login {width:100%;flex-wrap:wrap; flex-direction:column;}
            .illu {width:100%;margin-top:-48%;}
            .login_area {width:300px;}
        }
	
    </style>
    </head>
    <body>
    <div class="wrap">
    <div class="login">
            #parse("login-error.vm")
            <div class="illu">
                <img src="$request.getContextPath()/images/Illustration.png" alt="">
            </div>
            <div class="login_area">
                <form action="$flowExecutionUrl" method="post">
		    #parse("csrf/csrf.vm")
		    <div class="sub_logo">
			<img src="$request.getContextPath()/images/sub_logo.png" alt="">
		    </div>
		    <h3>공동교육학사 관리시스템</h3>
		    <div class="logo">
			<img src="$request.getContextPath()#springMessage("idp.logo")" alt="">
		    </div>
		    <div>
			<input form-field" id="username" name="j_username" type="text" value="#if($username)$encoder.encodeForHTML($username)#end" />
			<input form-field" id="password" name="j_password" type="password" value="" />
		    </div>
		    <div>
			<label>
			    <input type="checkbox" name="donotcache" value="1" id="donotcache" />
			    사용자 아이디 기억하지 않기
			</label>
			<label>
			    <input id="_shib_idp_revokeConsent" type="checkbox" name="_shib_idp_revokeConsent" value="true" />
			    개인정보제공방식 초기화
			</label>
		    </div>
    <button class="btn_submit" type="submit" name="_eventId_proceed"
        onClick="onClickSubmit();">#springMessageText("idp.login.login", "Login")
    </button>
</form>

<script>
    function onClickSubmit() {
        var userType = document.querySelector('input[name="usertype"]:checked').value;
        var usernameTemp = document.getElementById("username_temp").value;

        if (userType === "professor") {
            document.getElementById("username").value = "F" + usernameTemp;
        } else if (userType === "staff") {
            document.getElementById("username").value = "E" + usernameTemp;
        } else {
            document.getElementById("username").value = usernameTemp;
        }
    }
</script>

            </div>
        </div>
    </div>

     </body>
</script>
</html>
